<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Power Manager</title>
    <style>
        h1 {
            grid-column: 1 / -1; /* Stretch across all columns */
            text-align: center;
            color: rgb(11, 5, 68);
        }
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(206, 206, 206);
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            width: 800px;
            padding: 20px;
            background: rgb(206, 206, 206);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }
        .server {
            display: flex;
            flex-direction: column;
            padding: 1em;
        }
        .server input, .server button {
            margin-bottom: 5px;
        }
        button {
            cursor: pointer;
            background-color: #0a06e9;
            color: white;
            border: 0px;
            padding: 0.5em;
            border-radius: 2px;
            font-weight: bold;
        }
        .status-message {
            color: blue; 
            font-weight: bold;
            width: 150px;
            height: 25px;
        }
    </style>
    <script src="jquery.min.js"></script>
    <script src="jquerymask.js"></script>

</head>
<body>    
            
    <div class="container">
        <h1>Server Power Manager</h1>        
        <!-- Repetir este bloco para cada servidor -->
        <div class="server">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" name="serverName1">
            <input type="text" class="form-input" id="1ipv4" name="1-ipv4" placeholder="Server IP"/>
            <input type="text" placeholder="Username" name="username1">
            <input type="password" placeholder="Password" name="password1">
            <input type="time" placeholder="Power On Time" name="powerOnTime1">
            <input type="time" placeholder="Power Off Time" name="powerOffTime1">
            <button onclick="toggleServer(this.parentElement, 1, this)">Start</button>
        </div>

        <div class="server">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" name="serverName2">
            <input type="text" class="form-input" id="2ipv4" name="2-ipv4" placeholder="Server IP"/>
            <input type="text" placeholder="Username" name="username2">
            <input type="password" placeholder="Password" name="password2">
            <input type="time" placeholder="Power On Time" name="powerOnTime2">
            <input type="time" placeholder="Power Off Time" name="powerOffTime2">
            <button onclick="toggleServer(this.parentElement, 2, this)">Start</button>
        </div>

        <div class="server">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" name="serverName3">
            <input type="text" class="form-input" id="3ipv4" name="3-ipv4" placeholder="Server IP"/>
            <input type="text" placeholder="Username" name="username3">
            <input type="password" placeholder="Password" name="password3">
            <input type="time" placeholder="Power On Time" name="powerOnTime3">
            <input type="time" placeholder="Power Off Time" name="powerOffTime3">
            <button onclick="toggleServer(this.parentElement, 3, this)">Start</button>
        </div>

        <div class="server">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" name="serverName4">
            <input type="text" class="form-input" id="4ipv4" name="4-ipv4" placeholder="Server IP"/>
            <input type="text" placeholder="Username" name="username4">
            <input type="password" placeholder="Password" name="password4">
            <input type="time" placeholder="Power On Time" name="powerOnTime4">
            <input type="time" placeholder="Power Off Time" name="powerOffTime4">
            <button onclick="toggleServer(this.parentElement, 4, this)">Start</button>
        </div>

        <div class="server">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" name="serverName5">
            <input type="text" class="form-input" id="5ipv4" name="5-ipv4" placeholder="Server IP"/>
            <input type="text" placeholder="Username" name="username5">
            <input type="password" placeholder="Password" name="password5">
            <input type="time" placeholder="Power On Time" name="powerOnTime5">
            <input type="time" placeholder="Power Off Time" name="powerOffTime5">
            <button onclick="toggleServer(this.parentElement, 5, this)">Start</button>
        </div>

        <div class="server">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" name="serverName6">
            <input type="text" class="form-input" id="6ipv4" name="6-ipv4" placeholder="Server IP"/>
            <input type="text" placeholder="Username" name="username6">
            <input type="password" placeholder="Password" name="password6">
            <input type="time" placeholder="Power On Time" name="powerOnTime6">
            <input type="time" placeholder="Power Off Time" name="powerOffTime6">
            <button onclick="toggleServer(this.parentElement, 6, this)">Start</button>
        </div>

        <div class="server">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" name="serverName7">
            <input type="text" class="form-input" id="7ipv4" name="7-ipv4" placeholder="Server IP"/>
            <input type="text" placeholder="Username" name="username7">
            <input type="password" placeholder="Password" name="password7">
            <input type="time" placeholder="Power On Time" name="powerOnTime7">
            <input type="time" placeholder="Power Off Time" name="powerOffTime7">
            <button onclick="toggleServer(this.parentElement, 7, this)">Start</button>
        </div>

        <div class="server">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" name="serverName8">
            <input type="text" class="form-input" id="8ipv4" name="8-ipv4" placeholder="Server IP"/>
            <input type="text" placeholder="Username" name="username8">
            <input type="password" placeholder="Password" name="password8">
            <input type="time" placeholder="Power On Time" name="powerOnTime8">
            <input type="time" placeholder="Power Off Time" name="powerOffTime8">
            <button onclick="toggleServer(this.parentElement, 8, this)">Start</button>
        </div>

        <div class="server">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" name="serverName9">
            <input type="text" class="form-input" id="9ipv4" name="9-ipv4" placeholder="Server IP"/>
            <input type="text" placeholder="Username" name="username9">
            <input type="password" placeholder="Password" name="password9">
            <input type="time" placeholder="Power On Time" name="powerOnTime9">
            <input type="time" placeholder="Power Off Time" name="powerOffTime9">
            <button onclick="toggleServer(this.parentElement, 9, this)">Start</button>
        </div>
        <!-- Fim do bloco do servidor -->
    </div>
    <script>
        $(document).ready(function() {
        // Seleciona elementos cujos IDs são '1ipv4', '2ipv4', ..., '9ipv4'
            $("input[id$='ipv4'][id^='1'], input[id$='ipv4'][id^='2'], input[id$='ipv4'][id^='3'], input[id$='ipv4'][id^='4'], input[id$='ipv4'][id^='5'], input[id$='ipv4'][id^='6'], input[id$='ipv4'][id^='7'], input[id$='ipv4'][id^='8'], input[id$='ipv4'][id^='9']").inputmask({
                alias: "ip",
                greedy: false // The initial mask shown will be "" instead of "-____".
            });
        });

        async function toggleServer(serverDiv, serverNumber, button) {
            const isStarting = button.textContent === 'Start';
            const serverName = serverDiv.querySelector(`[name="serverName${serverNumber}"]`).value;
            const serverIp = serverDiv.querySelector(`[name="${serverNumber}-ipv4"]`).value;
            const username = serverDiv.querySelector(`[name="username${serverNumber}"]`).value;
            const password = serverDiv.querySelector(`[name="password${serverNumber}"]`).value;
            const powerOnTime = serverDiv.querySelector(`[name="powerOnTime${serverNumber}"]`).value;
            const powerOffTime = serverDiv.querySelector(`[name="powerOffTime${serverNumber}"]`).value;
            const statusMessageDiv = serverDiv.querySelector(".status-message");

            // Verificação dos campos obrigatórios
            if (!serverName || !serverIp || !username || !password) {
                statusMessageDiv.textContent = "Please fill all fields.";
                return;
            }

            // Verificação se pelo menos um dos campos de horário está preenchido
            if (!powerOnTime && !powerOffTime) {
                statusMessageDiv.textContent = "Please set Power On or Off time.";
                return;
            }

            // Preparar os dados para envio
            const serverData = {
                server_name: serverName,
                server_ip: serverIp,
                username: username,
                password: password,
                power_on_time: powerOnTime,
                power_off_time: powerOffTime,
            };

            console.log("Enviando dados:", serverData);  // Adicionar log para debugar

            // Realizar a requisição
            try {
                const response = await fetch('/schedule', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(serverData),
                });

                const data = await response.json();
                console.log("Resposta recebida:", data);  // Log para verificar a resposta

                if (!data.success) {
                    statusMessageDiv.textContent = data.message || "Action failed";
                    throw new Error(data.message || "Action failed");
                }

                // Atualizar o estado do botão após sucesso
                button.textContent = isStarting ? 'Running' : 'Start';
                button.style.backgroundColor = isStarting ? '#0acda2' : '#0a06e9';
                statusMessageDiv.textContent = isStarting ? "Host acessível" : "";
            } catch (error) {
                console.error("Erro ao realizar ação:", error);
                button.textContent = 'Start'; // Restaurar para estado inicial em caso de erro
                button.style.backgroundColor = '#0a06e9';
            }
        }
    </script>
</body>
</html>
