<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Power Manager</title>
    <style>
        h1 {
            grid-column: 1 / -1; /* Stretch across all columns */
            text-align: center;
            color: rgb(11, 5, 68);
        }
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(206, 206, 206);
            color: #333;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            width: 800px;
            padding: 20px;
            background: rgb(206, 206, 206);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }
        .server {
            display: flex;
            flex-direction: column;
            padding: 1em;
        }
        .server input, .server button {
            margin-bottom: 5px;
        }
        button {
            cursor: pointer;
            background-color: #0a06e9;
            color: white;
            border: 0px;
            padding: 0.5em;
            border-radius: 2px;
            font-weight: bold;
        }
        .clear-btn{
            background-color: rgb(4, 192, 167);
        }
        .status-message {
            color: blue; 
            font-weight: bold;
            width: 150px;
            height: 25px;
        }
    </style>
    <script src="jquery.min.js"></script>
    <script src="jquerymask.js"></script>

</head>
<body>    
            
    <div class="container">
        <h1>Server Power Manager</h1>        

        <div class="server" id="server-1">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" id="serverName1" autocomplete="off">
            <input type="text" class="form-input" id="ipv4-1" name="1-ipv4" placeholder="Server IP" autocomplete="off">
            <input type="text" placeholder="Username" name="username1" id="username1" autocomplete="off">
            <input type="password" placeholder="Password" name="password1" id="password1" autocomplete="off">
            <input type="time" placeholder="Power On Time" name="powerOnTime1" id="powerOnTime1" autocomplete="off">
            <input type="time" placeholder="Power Off Time" name="powerOffTime1" id="powerOffTime1" autocomplete="off">
            <button onclick="toggleServer(this.parentElement, 1, this)">Start</button>
            <button class="clear-btn" onclick="clearForm(this.parentElement, 1)">Clear</button>
        </div>

        <div class="server" id="server-2">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" id="serverName2" autocomplete="off">
            <input type="text" class="form-input" id="ipv4-2" name="2-ipv4" placeholder="Server IP" autocomplete="off">
            <input type="text" placeholder="Username" name="username2" id="username2" autocomplete="off">
            <input type="password" placeholder="Password" name="password2" id="password2" autocomplete="off">
            <input type="time" placeholder="Power On Time" name="powerOnTime2" id="powerOnTime2" autocomplete="off">
            <input type="time" placeholder="Power Off Time" name="powerOffTime2" id="powerOffTime2" autocomplete="off">
            <button onclick="toggleServer(this.parentElement, 2, this)">Start</button>
            <button class="clear-btn" onclick="clearForm(this.parentElement, 2)">Clear</button>
        </div>

        <div class="server" id="server-3">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" id="serverName3" autocomplete="off">
            <input type="text" class="form-input" id="ipv4-3" name="3-ipv4" placeholder="Server IP" autocomplete="off">
            <input type="text" placeholder="Username" name="username3" id="username3" autocomplete="off">
            <input type="password" placeholder="Password" name="password3" id="password3" autocomplete="off">
            <input type="time" placeholder="Power On Time" name="powerOnTime3" id="powerOnTime3" autocomplete="off">
            <input type="time" placeholder="Power Off Time" name="powerOffTime3" id="powerOffTime3" autocomplete="off">
            <button onclick="toggleServer(this.parentElement, 3, this)">Start</button>
            <button class="clear-btn" onclick="clearForm(this.parentElement, 3)">Clear</button>
        </div>

        <div class="server" id="server-4">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" id="serverName4" autocomplete="off">
            <input type="text" class="form-input" id="ipv4-4" name="4-ipv4" placeholder="Server IP" autocomplete="off">
            <input type="text" placeholder="Username" name="username4" id="username4" autocomplete="off">
            <input type="password" placeholder="Password" name="password4" id="password4" autocomplete="off">
            <input type="time" placeholder="Power On Time" name="powerOnTime4" id="powerOnTime4" autocomplete="off">
            <input type="time" placeholder="Power Off Time" name="powerOffTime4" id="powerOffTime4" autocomplete="off">
            <button onclick="toggleServer(this.parentElement, 4, this)">Start</button>
            <button class="clear-btn" onclick="clearForm(this.parentElement, 4)">Clear</button>
        </div>

        <div class="server" id="server-5">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" id="serverName5" autocomplete="off">
            <input type="text" class="form-input" id="ipv4-5" name="5-ipv4" placeholder="Server IP" autocomplete="off">
            <input type="text" placeholder="Username" name="username5" id="username5" id="username5" autocomplete="off">
            <input type="password" placeholder="Password" name="password5" id="password5" autocomplete="off">
            <input type="time" placeholder="Power On Time" name="powerOnTime5" id="powerOnTime5" autocomplete="off">
            <input type="time" placeholder="Power Off Time" name="powerOffTime5" id="powerOffTime5" autocomplete="off">
            <button onclick="toggleServer(this.parentElement, 5, this)">Start</button>
            <button class="clear-btn" onclick="clearForm(this.parentElement, 5)">Clear</button>
        </div>

        <div class="server" id="server-6">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" id="serverName6" autocomplete="off">
            <input type="text" class="form-input" id="ipv4-6" name="6-ipv4" placeholder="Server IP" autocomplete="off">
            <input type="text" placeholder="Username" name="username6" id="username6" autocomplete="off">
            <input type="password" placeholder="Password" name="password6" id="password6" autocomplete="off">
            <input type="time" placeholder="Power On Time" name="powerOnTime6" id="powerOnTime6" autocomplete="off">
            <input type="time" placeholder="Power Off Time" name="powerOffTime6" id="powerOffTime6" autocomplete="off">
            <button onclick="toggleServer(this.parentElement, 6, this)">Start</button>
            <button class="clear-btn" onclick="clearForm(this.parentElement, 6)">Clear</button>
        </div>

        <div class="server" id="server-7">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" id="serverName7" autocomplete="off">
            <input type="text" class="form-input" id="ipv4-7" name="7-ipv4" placeholder="Server IP" autocomplete="off">
            <input type="text" placeholder="Username" name="username7" id="username7" autocomplete="off">
            <input type="password" placeholder="Password" name="password7" id="password7" autocomplete="off">
            <input type="time" placeholder="Power On Time" name="powerOnTime7" id="powerOnTime7" autocomplete="off">
            <input type="time" placeholder="Power Off Time" name="powerOffTime7" id="powerOffTime7" autocomplete="off">
            <button onclick="toggleServer(this.parentElement, 7, this)">Start</button>
            <button class="clear-btn" onclick="clearForm(this.parentElement, 7)">Clear</button>
        </div>

        <div class="server" id="server-8">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" id="serverName8" autocomplete="off">
            <input type="text" class="form-input" id="ipv4-8" name="8-ipv4" placeholder="Server IP" autocomplete="off">
            <input type="text" placeholder="Username" name="username8" id="username8" autocomplete="off">
            <input type="password" placeholder="Password" name="password8" id="password8" autocomplete="off">
            <input type="time" placeholder="Power On Time" name="powerOnTime8" id="powerOnTime8" autocomplete="off">
            <input type="time" placeholder="Power Off Time" name="powerOffTime8" id="powerOffTime8" autocomplete="off">
            <button onclick="toggleServer(this.parentElement, 8, this)">Start</button>
            <button class="clear-btn" onclick="clearForm(this.parentElement, 8)">Clear</button>
        </div>

        <div class="server" id="server-9">
            <div class="status-message"></div>
            <input type="text" placeholder="Server Name" id="serverName9" autocomplete="off">
            <input type="text" class="form-input" id="ipv4-9" name="9-ipv4" placeholder="Server IP" autocomplete="off">
            <input type="text" placeholder="Username" name="username9" id="username9" autocomplete="off">
            <input type="password" placeholder="Password" name="password9" id="password9" autocomplete="off">
            <input type="time" placeholder="Power On Time" name="powerOnTime9" id="powerOnTime9" autocomplete="off">
            <input type="time" placeholder="Power Off Time" name="powerOffTime9" id="powerOffTime9" autocomplete="off">
            <button onclick="toggleServer(this.parentElement, 9, this)">Start</button>
            <button class="clear-btn" onclick="clearForm(this.parentElement, 9)">Clear</button>
        </div>

    </div>
    <script>

        async function clearForm(serverDiv, serverNumber) {
            
            const serverNameInput = document.getElementById(`serverName${serverNumber}`);
            const formInput = document.getElementById(`ipv4-${serverNumber}`);
            const usernameInput = document.getElementById(`username${serverNumber}`);
            const passwordInput = document.getElementById(`password${serverNumber}`);
            const powerOnTimeInput = document.getElementById(`powerOnTime${serverNumber}`);
            const powerOffTimeInput = document.getElementById(`powerOffTime${serverNumber}`);
            const statusMessageDiv = serverDiv.querySelector(".status-message");

            
            if (serverNameInput) serverNameInput.value = "";
            if (formInput) formInput.value = "";
            if (usernameInput) usernameInput.value = "";
            if (passwordInput) passwordInput.value = "";
            if (powerOnTimeInput) powerOnTimeInput.value = "";
            if (powerOffTimeInput) powerOffTimeInput.value = "";
            if (statusMessageDiv) statusMessageDiv.textContent = "";

            try {
                const response = await fetch(`/schedule/delete/${serverNumber}`, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                });

                const data = await response.json();
                console.log("Resposta de exclusão:", data);

                if (!data.success) {
                    console.error('Falha ao deletar agendamento:', data.message);
                    if (statusMessageDiv) statusMessageDiv.textContent = "Erro ao deletar.";
                    return;
                }
               
            } catch (error) {
                console.error("Erro ao deletar agendamento:", error);
            }
        }


        $(document).ready(function() {

                async function clearForm(serverDiv, serverNumber) {
        serverDiv.querySelector("#serverName" + serverNumber).value = "";
        serverDiv.querySelector(".form-input").value = "";
        serverDiv.querySelector("input[type='text'][name*='username']").value = "";
        serverDiv.querySelector("input[type='password']").value = "";
        serverDiv.querySelector("input[type='time'][name*='PowerOnTime']").value = "";
        serverDiv.querySelector("input[type='time'][name*='PowerOffTime']").value = "";
        serverDiv.querySelector(".status-message").textContent = "";

        try {
            const response = await fetch(`/schedule/delete/${serverNumber}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                }
            });

            const data = await response.json();
            console.log("Resposta de exclusão:", data);

            if (!data.success) {
                console.error('Falha ao deletar agendamento:', data.message);
                serverDiv.querySelector(".status-message").textContent = "Erro ao deletar.";
                return;
            }

            serverDiv.querySelector(".status-message").textContent = "Agendamento deletado.";
        } catch (error) {
            console.error("Erro ao deletar agendamento:", error);
            serverDiv.querySelector(".status-message").textContent = "Erro ao deletar.";
        }
    }

            $(".form-input").inputmask({
                alias: "ip",
                greedy: false
            });

            fetch('/schedules')
                .then(response => response.json())
                .then(data => {
                    if (data.schedules && data.schedules.length > 0) {

                        console.log(data.schedules);

                        data.schedules.forEach((schedule, index) => {
                            
                            const serverNumber = index + 1;
                            const serverNameInput = document.getElementById(`serverName${serverNumber}`);
                            const serverIpInput = document.getElementById(`ipv4-${serverNumber}`);
                            const usernameInput = document.getElementById(`username${serverNumber}`);
                            const passwordInput = document.getElementById(`password${serverNumber}`);
                            const powerOnTimeInput = document.getElementById(`powerOnTime${serverNumber}`);
                            const powerOffTimeInput = document.getElementById(`powerOffTime${serverNumber}`);
                            
                            if (serverNameInput) serverNameInput.value = schedule.server_name || "";
                            if (serverIpInput) serverIpInput.value = schedule.server_ip || "";
                            if (usernameInput) usernameInput.value = schedule.username || "";
                            if (passwordInput) passwordInput.value = schedule.password || "";
                            if (powerOnTimeInput) powerOnTimeInput.value = schedule.power_on_time || "";
                            if (powerOffTimeInput) powerOffTimeInput.value = schedule.power_off_time || "";
                        });
                    }
                })
                .catch(error => console.error('Erro ao buscar agendamentos:', error));
        });

        async function toggleServer(serverDiv, serverNumber, button) {
            const isStarting = button.textContent === 'Start';

            const serverName = document.getElementById(`serverName${serverNumber}`).value;
            const serverIp = document.getElementById(`ipv4-${serverNumber}`).value;
            const username = document.getElementById(`username${serverNumber}`).value;
            const password = document.getElementById(`password${serverNumber}`).value;
            const powerOnTime = document.getElementById(`powerOnTime${serverNumber}`).value;
            const powerOffTime = document.getElementById(`powerOffTime${serverNumber}`).value;
            const statusMessageDiv = serverDiv.querySelector(".status-message");


            if (!serverName || !serverIp || !username || !password || (!powerOnTime && !powerOffTime)) {
                statusMessageDiv.textContent = "Please fill all fields.";
                return;
            }

            const serverData = {
                id: serverNumber,
                server_name: serverName,
                server_ip: serverIp,
                username: username,
                password: password,
                power_on_time: powerOnTime,
                power_off_time: powerOffTime,
            };

            console.log("Enviando dados:", serverData);

            try {
                const response = await fetch('/schedule', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(serverData),
                });

                const data = await response.json();
                console.log("Resposta recebida:", data);

                if (!data.success) {
                    statusMessageDiv.textContent = data.message || "Action failed";
                    throw new Error(data.message || "Action failed");
                }

                button.textContent = isStarting ? 'Running' : 'Start';
                button.style.backgroundColor = isStarting ? '#0acda2' : '#0a06e9';
                statusMessageDiv.textContent = isStarting ? "Host acessível" : "";
            } catch (error) {
                console.error("Erro ao realizar ação:", error);
                button.textContent = 'Start';
                button.style.backgroundColor = '#0a06e9';
            }
        }
    </script>
</body>
</html>